/* navbar */
.navbar {
  box-shadow: 0 2px 5px 0 var(--content-overlay);
}

.nav-logo {
  position: relative;
  top: 10px;
}

.nav-logo img {
  width: 50px;
}

.nav-logout-btn button {
  position: relative;
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 100px;
  height: 25px;
  bottom: 20px;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow-sm);
  cursor: pointer;
}

.nav-logout a {
  cursor: pointer;
}

.nav-links a {
  position: relative;
  bottom: 25px;
  color: var(--primary-color);
  margin-left: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links .nav {
  margin: 0 auto;
}

/* Home page */

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container:after {
  content: "";
  /*  absolute position from parent of .hero because of its position relative */
  position: absolute;
  /* put the overlay in the corner position and spread across the video */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.video-section {
  color: var(--white-color);
  z-index: 1;
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.video-section h5 {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0 0 0;
}

.join-btn,
.login-btn {
  background-color: var(--primary-color);
  border-radius: 5px;
  width: 170px;
  height: 30px;
  outline: none;
  box-shadow: var(--box-shadow);
  margin-top: 20px;
}
.login-btn {
  border: 3px solid var(--primary-color);
  background-color: transparent !important;
}

.join-btn {
  margin-left: 60px;
}

.join-btn a,
.login-btn a {
  color: var(--white-color);
  position: relative;
  top: 7px;
  text-transform: uppercase;
}

.login-btn a {
  top: 4px;
}

.join-btn:hover {
  background-color: var(--primary-color-hover);
}

/* Join Page */

.join-header {
  position: relative;
  left: 5px;
}

/* join-card */
.form-section > form > .form-group {
  position: relative;
}

.form-section .form-input {
  border-bottom: 1px solid var(--secondary-color) !important;
}

.form-section > form > .form-group > label {
  opacity: 0.3;
  font-weight: bold;
  position: absolute;
  top: 22px;
  left: 14px;
  transition: all 0.1s ease-in-out;
}
.form-section > form > .form-group > input[type="text"],
.form-section > form > .form-group > input[type="email"],
.form-section > form > .form-group > input[type="password"] {
  width: 95%;
  border: 0;
  padding: 23px 39px 20px 9px;
  outline: none;
  margin: 0 auto;
}

.form-section > form > .form-group > input[type="text"]:focus + label,
.form-section > form > .form-group > input[type="email"]:focus + label,
.form-section > form > .form-group > input[type="password"]:focus + label {
  opacity: 0.5;
  font-size: 12px;
  top: 4px;
  left: 15px;
}
.form-section > form > .form-group > input[type="text"]:valid + label,
.form-section > form > .form-group > input[type="email"]:valid + label,
.form-section > form > .form-group > input[type="password"]:valid + label {
  opacity: 0.5;
  font-size: 12px;
  top: 4px;
  left: 15px;
}

.form-section
  > form
  > .form-group
  > input[type="text"]:invalid:not(:focus):not(:placeholder-shown)
  + label,
.form-section
  > form
  > .form-group
  > input[type="email"]:invalid:not(:focus):not(:placeholder-shown)
  + label,
.form-section
  > form
  > .form-group
  > input[type="password"]:invalid:not(:focus):not(:placeholder-shown)
  + label {
  opacity: 0;
}

.form-section > form > .form-group > input::placeholder {
  opacity: 0;
}

.form-section
  > form
  > .form-group
  > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
.form-section
  > form
  > .form-group
  > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
.form-section
  > form
  > .form-group
  > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  border-bottom: 2px solid red !important;
}

.form-section
  > form
  > .form-group
  > input[type="text"]:invalid:focus:not(:placeholder-shown)
  ~ .validation,
.form-section
  > form
  > .form-group
  > input[type="email"]:invalid:focus:not(:placeholder-shown)
  ~ .validation,
.form-section
  > form
  > .form-group
  > input[type="password"]:invalid:focus:not(:placeholder-shown)
  ~ .validation {
  max-height: 200px;
  padding: 0px 30px 8px 10px;
  transition-delay: 1s;
}
.form-section > form > .form-group .validation {
  padding: 0 10px 0 50px;
  color: #999;
  max-height: 0;
  transition: 0.28s;
  overflow: hidden;
  color: red;

  font-size: 14px;
  position: relative;
  top: 10px;
  line-height: 20px;
}

/* join terms/privacy */

.form-section .signup-agreement {
  margin: 15px 9px;
  position: relative;
  top: 15px;
}

.form-section .signup-agreement-links {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: bold;
}

.form-section .signup-agreement-links:hover {
  color: var(--primary-color-hover);
}

.form-section .form-group p {
  font-size: 13px;
  position: relative;
  left: 2px;
}

/* join btn */
.form-section .btn-primary {
  outline: none;
  height: 30px;
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  border-radius: var(--border-radius);
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 12px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.form-section .btn-primary:hover {
  background-color: var(--primary-color-hover);
}

.to-login {
  text-decoration: underline;
  padding: 0 0 0 5px;
}

/* Login */
.login h1 {
  margin: 0 auto;
}

.login-form {
  margin: 0 auto;
  margin-top: 40px;
}

.login-reset {
  color: var(--secondary-color);
  text-decoration: underline;
}

.login-form .to-join {
  text-decoration: underline;
  padding: 0 0 0 5px;
}

.login-form
  .form-section
  > form
  > .form-group
  > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
.login-form
  .form-section
  > form
  > .form-group
  > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  border-bottom: 2px solid var(--secondary-color) !important;
}

/* Footer */

.footer {
  height: 80px;
}

.footer-header {
  position: relative;
  top: 30px;
}
