/* navbar */

.navbar {
  box-shadow: 0 2px 5px 0 var(--content-overlay);
}

.nav-logo {
  position: relative;
  top: 10px;
}

.nav-logo img {
  width: 50px;
}

.nav-links a {
  position: relative;
  bottom: 25px;
  color: var(--primary-color);
  margin-left: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links .nav {
  margin: 0 auto;
}

/* Join Page */

.join-header {
  position: relative;
  left: 5px;
}

/* join-card */
.form-section > form > .form-group {
  position: relative;
}

.form-section .form-input {
  border-bottom: 1px solid var(--secondary-color) !important;
}

.form-section > form > .form-group > label {
  opacity: 0.3;
  font-weight: bold;
  position: absolute;
  top: 22px;
  left: 20px;
  transition: all 0.1s ease-in-out;
}
.form-section > form > .form-group > input[type="text"],
.form-section > form > .form-group > input[type="email"],
.form-section > form > .form-group > input[type="password"] {
  width: 100%;
  border: 0;
  padding: 25px 20px 20px 9px;
  outline: none;
}

.form-section > form > .form-group > input[type="text"]:focus + label,
.form-section > form > .form-group > input[type="email"]:focus + label,
.form-section > form > .form-group > input[type="password"]:focus + label {
  opacity: 0.5;
  font-size: 12px;
  top: 4px;
  left: 5px;
}
.form-section > form > .form-group > input[type="text"]:valid + label,
.form-section > form > .form-group > input[type="email"]:valid + label,
.form-section > form > .form-group > input[type="password"]:valid + label {
  opacity: 0.5;
  font-size: 12px;
  top: 4px;
  left: 5px;
}

.form-section
  > form
  > .form-group
  > input[type="text"]:invalid:not(:focus):not(:placeholder-shown)
  + label,
.form-section
  > form
  > .form-group
  > input[type="email"]:invalid:not(:focus):not(:placeholder-shown)
  + label,
.form-section
  > form
  > .form-group
  > input[type="password"]:invalid:not(:focus):not(:placeholder-shown)
  + label {
  opacity: 0;
}

.form-section > form > .form-group > input::placeholder {
  opacity: 0;
}

.form-section
  > form
  > .form-group
  > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
.form-section
  > form
  > .form-group
  > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
.form-section
  > form
  > .form-group
  > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  border-bottom: 2px solid red !important;
}

.form-section
  > form
  > .form-group
  > input[type="text"]:invalid:focus:not(:placeholder-shown)
  ~ .validation,
.form-section
  > form
  > .form-group
  > input[type="email"]:invalid:focus:not(:placeholder-shown)
  ~ .validation,
.form-section
  > form
  > .form-group
  > input[type="password"]:invalid:focus:not(:placeholder-shown)
  ~ .validation {
  max-height: 200px;
  padding: 0px 30px 8px 10px;
  transition-delay: 1s;
}
.form-section > form > .form-group .validation {
  padding: 0 10px 0 50px;
  color: #999;
  max-height: 0;
  transition: 0.28s;
  overflow: hidden;
  color: red;

  font-size: 14px;
  position: relative;
  top: 10px;
  line-height: 20px;
}

/* join terms/privacy */

.form-section .signup-agreement {
  margin: 20px 9px;
}

.form-section .signup-agreement-links {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: bold;
}

.form-section .signup-agreement-links:hover {
  color: var(--primary-color-hover);
}

.form-section .form-group p {
  font-size: 13px;
  position: relative;
  left: 2px;
}

/* join btn */
.form-section .btn-primary {
  outline: none;
  height: 30px;
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  border-radius: var(--border-radius);
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 7px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.form-section .btn-primary:hover {
  background-color: var(--primary-color-hover);
}
/* Footer */

.footer {
  height: 80px;
}

.footer-header {
  position: relative;
  top: 30px;
}
